@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Passion+One');

html {
  min-height: 100%;
}

body {
  background-color: #3cbcfc;
  width: 686px;
  margin: 0 auto;
  color: #181818;
  font-family: "Passion One", "Arial";
  padding: 0px;
  font-size: 24px;
  background-image: url('/clouds.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom; 
  min-height: 960px;
}

.container {
  width: 636px;
  margin: 0 auto;
}

.header {
  margin-top: 32px;
  margin-bottom: 24px;
}

.footer {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 160px;
}

img { 
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

a:link, a:visited {
  text-decoration: none;
  color: #e45c10;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
  color: #fff;
}

.textblock {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 24px;
}
