<!doctype html>
<html>
  <head>
    <title>Miles &amp; Kilo</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link href="/css/dark.css" rel="stylesheet" type="text/css" media="all">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta name="Description" content="A super-tough indie platformer about a boy and his dog -- out now on iPhone and iPad!">
  </head>
  
  <body>
    <div class="container">
      <div class='header'>
        <a href="/"><img src='/logo.png' alt="Miles and Kilo"/></a>
      </div>

      <div class='content'>
        {{ content }}
      </div>

      <div class='footer'>
        <div class='textblock'>
          <center>
            <p><a href='/support'>Support</a> | <a href='/screenshots'>Screenshots</a> | <a href='http://thepixelguy.com/'>Michael Burns</a> (developer) | <a href='http://chriskukla.com/'>Chris Kukla</a> (composer) | <a href='http://fourhorses.co.uk'>Four Horses</a> (Publisher)
        </p>
          </center>
        </div>
        <p>Copyright &copy; 2017-2018 Michael Burns</p>
      </div>
    </div>
  </body>
  
</html>
