<!doctype html>
<html>
  <head>
    <title>Miles &amp; Kilo</title>
    <link rel="icon" type="image/ico" href="http://thepixelguy.com/favicon.ico">
    <link href="/css/light.css" rel="stylesheet" type="text/css" media="all">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
  </head>
  <body>
    <div class='header'>
      <a href="/manual/"><img src='/logo.png' /></a>
    </div>
    
    <h1>Manual</h1>
    
    <b>Table of Contents</b>
    <ul>
      <li><a href="/manual/jumping/">Part 1: Jumping</a></li>
      <li><a href="/manual/bouncing/">Part 2: Bouncing Off Baddies</a></li>
      <li><a href="/manual/milesactions/">Part 3: Miles's Actions</a></li>
      <li><a href="/manual/kiloactions/">Part 4: Kilo's Actions</a></li>
      <li><a href="/manual/scoring/">Part 5: Scoring</a></li>
    </ul>
    
    <div class='content'>
      {{ content }}
    </div>
    
    <div class='footer'>
      <p>
        <a href='http://thepixelguy.com/'>Michael Burns</a> (developer) | <a href='http://chriskukla.com/'>Chris Kukla</a> (composer)
      </p>
      <p>
        <b>Copyright &copy; 2017 Michael Burns</b>
      </p>
    </div>
  </body>
  
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46257132-3', 'auto');
  ga('send', 'pageview');

</script>
