<!doctype html>
<html>
  <head>
    <title>Miles &amp; Kilo</title>
    <link rel="icon" type="image/ico" href="http://thepixelguy.com/favicon.ico">
    <link href="/css/light.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div class='header'>
      <a href="/manual/"><img src='/logo.png' /></a>
    </div>
    
    <h1>Manual</h1>
    
    <b>Table of Contents</b>
    <ul>
      <li><a href="/manual/jumping/">Part 1: Jumping</a></li>
      <li><a href="/manual/bouncing/">Part 2: Bouncing</a></li>
      <li><a href="/manual/milesactions/">Part 3: Miles's Actions</a></li>
      <li><a href="/manual/kiloactions/">Part 4: Kilo's Actions</a></li>
    </ul>
    
    <div class='content'>
      {{ content }}
    </div>
    
    <div class='footer'>
      <p>
        <a href='http://thepixelguy.com/'>Michael Burns</a> (developer) | <a href='http://chriskukla.com/'>Chris Kukla</a> (composer)
      </p>
      <p>
        <b>Copyright &copy; 2017 Michael Burns</b>
      </p>
    </div>
  </body>
  
</html>
